{% set project = attribute(projects, id) %}
<article class="page {{modifiers}}" data-id="{{id}}" style="background-image: url('{{project.attributes.images[0]}}')">
	<div data-js="page__content" class="page__content">
		<div class="text">
			<h2 class="page__title text_paragraph">{{page.attributes.title}}</h2>
			<div class="page__paragraph text__paragraph">{{project.body}}</div>
		</div>
	</div>
</article>