{% spaceless %}
	<nav data-js="projects" class="projects {{modifiers}}">
		<ul data-js="projects__list" class="projects__list">
			{% for navItem in navigation.projects %}
				{% set project = attribute(projects, navItem.id) %}
				<li data-js="projects__item" class="projects__item" data-id="{{navItem.id}}">
					{% set charCount = navItem.label|length %}
					<span class="projects__label" data-title="{{navItem.label}}" style="max-height:{{(charCount) + 2}}em">
						<div class="projects__title">{{navItem.label}}</div>
					</span>
				</li>
			{% endfor %}
		</ul>
	</nav>
{% endspaceless %}